.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build output ###
target/
build/
out/
.mvn/wrapper/maven-wrapper.jar

### Credenciales ###
.env

### Logs ###
logs/
